<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>启用插件</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>hideQuickActionButtons</string>
			<key>label</key>
			<string>隐藏快捷操作按钮</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>moe.waru.jikan.preferences</string>
			<key>key</key>
			<string>showRemainingBatteryTime</string>
			<key>label</key>
			<string>显示剩余电量时间</string>
			<key>PostNotification</key>
			<string>moe.waru.jikan.preferences.reload</string>
		</dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>应用设置</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>重启桌面</string>
            <key>action</key>
            <string>respring</string>
            <key>confirmation</key>
            <dict>
                <key>prompt</key>
                <string>确定要继续执行吗？</string>
                <key>title</key>
                <string>重启桌面</string>
                <key>cancelTitle</key>
                <string>取消</string>
            </dict>
        </dict>
    </array>
    <key>title</key>
    <string>Jikan</string>
</dict>
</plist>
